.me-7 {
    margin-right: 5rem!important;
}

.logout-input {
    border: none;
    background-color: inherit;
    font-size: 14px;
    /* width: 60px; */
}

/* th, td { 
    border-right: solid thin lightgray; 
}  */
th {
    border-bottom: 2px solid #00145F;
    color: #00145F;
    line-height: normal;
    padding-left: 5px !important;
    padding-right: 5px !important;
    min-width: 150px;
}

tr {
    border-bottom: 1px solid #bbb;
}

.userstat-title {
    margin-top: 0;
    line-height: normal;
    color: #00145F;
    font-size: 2rem;
}